<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Quest of the optimization model</title>
</head>

<body>
    <table width="98%">
        <tr>
            <td><strong>{{ title }}</strong></td>
            <td align="right">
                {% if user %}
                {{ user }} さん
                <a href="/probs/{{ user }}">・</a>
                {% endif %}
                <a href="/">^</a>
            </td>
        </tr>
    </table>
    {% block body %}
    {% endblock %}
</body>

</html>